env/
venv/
.venv/
__pycache__/
*.py[cod]
*$py.class
.Python
*.egg-info/
dist/
build/
.env
.ipynb_checkpoints/
*.log
.cache/
models/*
!models/.gitkeep
data/raw/**/*
!data/raw/**/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/*.db
data/app.db
